<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
		<!-- bin/debug/log-file.json -->
		<file value="log-file.json" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="Shop.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
	</appender>
	<appender name="MsSqlAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionStringName value="ShopLogTestContext" />
		<commandText value="INSERT INTO Log ([TimeStamp],[MessageObject],[Level],[Identity],[LoggerName],[UserName]) VALUES (@date, @message, @level, @identity, @logger, @username)" />
		<parameter>
			<parameterName value="@date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="Shop.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout">
				<propertyNames value="messageObject" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@identity" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%identity" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger{2}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@username" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%username" />
			</layout>
		</parameter>
	</appender>

	<logger name="JsonFileLogger">
		<level value="ALL" />
		<appender-ref ref="JsonFileAppender" />
	</logger>
	<logger name="MsSqlLogger">
		<level value="ALL" />
		<appender-ref ref="MsSqlAppender" />
	</logger>
</log4net>

<!-- Right click this file in solution explorer -> Properties -> Copy to Output Directory: Copy always -->