
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col col-4">

        @Html.Action("CategoryList", "Category")

    </div>


</div>

